@font-face {
    font-family: NotoSans-Regular;
    src: url('/public/fonts/Noto_Sans/NotoSans-Regular.ttf');
}

@font-face {
    font-family: NotoSans-Bold;
    src: url('/public/fonts/Noto_Sans/NotoSans-Bold.ttf');
    font-weight: bold;
}

@font-face {
    font-family: NotoSans-Italic;
    src: url('/public/fonts/Noto_Sans/NotoSans-Italic.ttf');
    font-style: italic;
}

@font-face {
    font-family: NotoSans-BoldItalic;
    src: url('/public/fonts/Noto_Sans/NotoSans-BoldItalic.ttf');
    font-style: italic;
    font-weight: bold;
}

* {
    font-family: NotoSans-Regular;
}

.bold {
    font-family: NotoSans-Bold;
}

.italic {
    font-family: NotoSans-Italic;
}

.bold-italic {
    font-family: NotoSans-BoldItalic;
}
