@import './fonts.css';

@tailwind base;
@tailwind components;
@tailwind utilities;

html, body, #root {
    height: 100%;
}

.local {
    background-image: url('/public/images/celtics.svg');
}

.guest {
    background-image: url('/public/images/lakers.svg');
}

.close {
    background-image: url('/public/images/close.png');
}